.TryNotScript *{ 
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: initial;
    transition: all .5s;
    overflow: hidden;
    flex-shrink: 0;
}

.TryNotScript{
    width: 200px;
    height: 200px;
    display: none;
    position: absolute;
    top: 6px;
    left: 8px;
    z-index: 9999993;
    overflow: hidden;
}

.TopBar{
    width: 100%;
    height: 32px;
    display: flex;
    flex-direction: row;
}

.TopBar_Button{
    width: 64px;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(241,207,164);
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}

.TopBar_Title{
    width: 0px;
    height: 100%;
    border-radius: 8px;
    background-color: rgb(241,207,164);
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    padding: 0px 0px;
    margin-left: 6px;
    box-sizing: border-box;
}

.TopBar_Title>p{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
}

.MainBox{
    width: 128px;
    height: 0px;
    background-color: rgb(241,207,164);
    border-radius: 8px;
    margin-top: 6px;
    padding: 0px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MainBox_Main{
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
}

.MainBox_Bottom{
    width: 95%;
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.ScriptButton{
    width: 95%;
    height: 32px;
    text-align: center;
    background-color: rgb(250,250,250);
    line-height: 30px;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    margin-top: 6px;
    margin-bottom: 3px;
}

.CutPage{
    width: 95%;
    height: 32px;
    text-align: center;
    line-height: 30px;
    color: rgb(0, 0, 0);
    margin-top: 6px;
    margin-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.CutPage_Next,
.CutPage_To{
    width: 47%;
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(250,250,250);
}

.Setting_Button{
    width: 32px;
    height: 32px;
    background-color: rgb(250,250,250);
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.PageNumber{
    width: 80px;
    height: 32px;
    background-color: rgb(250,250,250);
    border-radius: 8px;
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
    color: rgb(0, 0, 0);
    line-height: 28px;
}