.TryNotScript * {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: initial
}

.TryNotScript {
    --border-radius: 8px;
    --background-color: #5f9ea0;
    --border: 1px solid #000;
    position: absolute;
    display: none;
    top: 6px;
    left: 6px;
    z-index: 9999993
}

.PageNumber,
.ScriptBox,
.ScriptButton,
.ScriptTitle,
.Setting,
.TryNotButton {
    border-radius: var(--border-radius)
}

.ScriptBox,
.ScriptTitle,
.TryNotButton {
    background-color: var(--background-color)
}

.PageNumber,
.ScriptButton,
.Setting {
    border: var(--border)
}

.TryNotButton {
    width: 64px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    line-height: 28px
}

.ScriptTitle {
    width: 0;
    height: 32px;
    position: absolute;
    top: 0;
    left: 64px;
    margin-left: 6px;
    box-sizing: border-box;
    transition: width .5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center
}

.ScriptTitle>p {
    width: 90%;
    height: 32px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    overflow: overlay;
    scrollbar-width: none
}

.ScriptBox {
    width: 150px;
    height: 0px;
    overflow: hidden;
    transition: height .5s;
    margin-top: 6px
}

.ScriptBox,
.ScriptFunction {
    display: flex;
    flex-direction: column
}

.ScriptFunction {
    width: 100%;
    height: 105px;
    align-items: center;
    overflow: auto;
    scrollbar-width: none
}

.ScriptButton {
    width: 118px;
    height: 30px;
    background-color: #fff;
    margin-top: 15px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 16px;
    text-align: center;
    line-height: 28px
}

.ScriptSetting {
    width: 100%;
    height: 45px;
    padding: 0 15px;
    box-sizing: border-box
}

.ScriptSetting,
.Setting {
    display: flex;
    align-items: center
}

.Setting {
    width: 23px;
    justify-content: center
}

.PageNumber,
.Setting {
    height: 23px;
    background-color: #fff
}

.PageNumber {
    width: 78px;
    margin-left: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 21px
}