.TryNotScript * {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: initial;
}

.TryNotScript {
    --border-radius: 8px;
    --background-color: rgba(95, 158, 160, 1);
    display: none;
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 9999993;
}

.TryNotButton,
.ScriptTitle,
.ScriptBox,
.ScriptButton,
.Setting,
.Number {
    border-radius: var(--border-radius);
}

.TryNotButton,
.ScriptTitle,
.ScriptBox {
    background-color: var(--background-color);
}

.TryNotButton {
    width: 64px;
    height: 32px;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}

.ScriptTitle {
    width: 0px;
    height: 32px;
    position: absolute;
    top: 0;
    left: 64px;
    margin-left: 6px;
    box-sizing: border-box;
    transition: width 0.5s;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ScriptTitle>p {
    width: 90%;
    height: 32px;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
}

.ScriptBox {
    width: 150px;
    height: 0px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.5s;
    margin-top: 6px;
}

.ScriptFunction {
    width: 100%;
    height: 105px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    scrollbar-width: none;
}

.ScriptButton {
    width: 118px;
    height: 30px;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(0, 0, 0, 1);
    margin-top: 15px;
    overflow: hidden;
    flex-shrink: 0;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
}

.ScriptSetting {
    width: 100%;
    height: 45px;
    padding: 0px 15px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.Setting {
    width: 23px;
    height: 23px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Number{
    width: 78px;
    height: 23px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: rgba(255, 255, 255, 1);
    margin-left: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 21px;
}